// ========================================
// PLANES - Fauget Fitness
// ========================================

@use 'Bases/variables' as *;
@use 'Bases/mixins' as *;

.plan-title {
    font-family: "Nunito", sans-serif;
    font-size: 3rem;
    margin-bottom: 1rem;
}

.plan {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.plan li {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.plan li span {
    font-family: "Nunito", sans-serif;
    font-size: 1.2rem;
    font-weight: $font-weight-bold;
    color: $color-primary;
    margin-bottom: $spacing-sm;
    padding-left: 0; // Sin padding en el título
    
    // Sin viñeta en el título
    &::before {
        content: none;
    }
}
