// ========================================
// ESTILOS GENERALES - Fauget Fitness
// ========================================

@use 'variables' as *;

// Reset universal
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Nunito", sans-serif;
}

// Estilos del body
body {
    background-color: $color-background;
    font-size: $font-size-base;
    font-family: $font-primary;
    color: $color-text;
    line-height: 1.6;
}
//fondo pagina principal
#canvas {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

// Clase de fuente Nunito
.nunito-regular {
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}